@font-face {
font-family: "Revalia";
src:url(../fonts/Revalia-Regular.ttf);
}
@font-face {
font-family: "Robo";
src:url(../fonts/robotoRegular.ttf);
}


.navbar li{
	width:80px;
	display:inline;
	padding:0 20px;
}
.navbar li a{
	font-size:1.1em;
	color:rgba(200,79,79,1);
	text-align:center;
	text-decoration:none;	
}
.navbar li a:hover{
	color:rgba(245,16,10,1);
	text-shadow: 2px 0px 10px #C63D24;
}


/* Submit button */
input[type="submit"]{
	padding:12px;
	font-size:1.5em;
	color:#FFF;
	background: rgb(200,16,6);
	border-radius: 5px;
	cursor:pointer;
	border:none;
	
	/*vendor*/
    background: -webkit-linear-gradient(top rgba(200,16,6) , rgba(220,73,69,1));
	background: -moz-linear-gradient(top rgba(200,16,6) , rgba(220,73,69,1));
	background: -o-linear-gradient(top rgba(200,16,6) , rgba(220,73,69,1));
	background: linear-gradient(top rgba(200,16,6) , rgba(220,73,69,1));
	-webkit-box-shadow: 0 0 4px white;
	-o-box-shadow: 0 0 4px white;
	-moz-box-shadow: 0 0 4px white;
	box-shadow: 0 0 4px white;
	-webkit-transition:all .5s;
	-o-transition:all .5s;
	-moz-transition:all .5s;
	transition:all .5s;
	
}
input[type="submit"]:hover{
	-webkit-box-shadow: 0px 0px 30px #FF0000;
	-o-box-shadow: 0px 0px 30px #FF0000;
	-moz-box-shadow: 0px 0px 30px #FF0000;
	box-shadow: 0px 0px 30px #FF0000;
	
}